PORT=8001
STRING_CONEXAO_DB=mongodb://localhost:27017/livraria
MONGO_URI=
JWT_SECRET=troque_essa_chave
GOOGLE_CLIENT_ID=seu_client_id
GOOGLE_CLIENT_SECRET=seu_client_secret
GOOGLE_REDIRECT_URI=http://localhost:8001/auth/google/callback
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8001
SMTP_HOST=smtp.seuprovedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seu_email@dominio.com
SMTP_PASS=sua_senha_ou_app_password
SMTP_FROM="Livraria <seu_email@dominio.com>"
